/*
 * @Author: fridolph 
 * @Date: 2017-06-27 14:41:04 
 * @Last Modified by: fridolph
 * @Last Modified time: 2017-07-10 10:15:26
 */
.header .logo {
  position: absolute;
  font-size: 36px;
  color: #c60023;
  text-decoration: none;
  left: 60px;
  top: 34px;
  font-weight: bold;
}
.header .search-con {
  padding: 40px 0 30px 250px;
}
.header .search-con .search-input {
  width: 550px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;
  border: 2px solid #c60023;
  outline: none;
}
.header .search-con .search-btn {
  position: absolute;
  height: 44px;
  width: 80px;
}
/* 面包屑导航 */
.crumb {
  margin-bottom: 16px;
  border-top: 1px solid #c60023;
  height: 50px;
  line-height: 50px;
  background: #eee;
  color: #888;
  font-size: 14px;
}
