<div class="footer">
  <div class="w">
    <div class="links">
      <a href="http://www.imooc.com" target="_blank" class="link">慕课网</a>
      <a href="http://www.imooc.com" target="_blank" class="link">Fridolph</a>
      <a href="http://www.imooc.com" target="_blank" class="link">我的主页</a>
      <a href="http://www.imooc.com" target="_blank" class="link">SegmentFault</a>
      <a href="http://www.imooc.com" target="_blank" class="link">知乎</a>
    </div>
    <div class="copyright">Copyright ©2017 Fridolph's happymmall.com All Right Reserved</div>
  </div>
</div>


<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
