/*
 * @Author: fridolph 
 * @Date: 2017-06-27 11:17:02 
 * @Last Modified by: fridolph
 * @Last Modified time: 2017-06-27 11:44:35
 */
.nav-simple {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.nav-simple .logo {
  font-size: 26px;
  font-weight: bold;
  color: #c60023;
}
