/*
 * @Author: fridolph 
 * @Date: 2017-06-27 11:17:02 
 * @Last Modified by: fridolph
 * @Last Modified time: 2017-06-27 15:50:07
 */

.nav-simple{
  height: 60px; line-height:60px;border-bottom:1px solid #ddd;background:#fff;
  .logo{
    font-size: 26px;font-weight:bold;color:#c60023;text-decoration: none;
  }
}