/*
 * @Author: fridolph 
 * @Date: 2017-06-27 15:51:40 
 * @Last Modified by: fridolph
 * @Last Modified time: 2017-06-27 16:10:25
 */
.page-wrap {
  background: #fff;
  padding: 80px 0;
  margin-top: 20px;
  text-align: center;
}
.result-con {
  display: none;
}
.result-con .result-title {
  color: #454545;
}
.result-con .result-content {
  margin-top: 50px;
}
.result-con .result-content .link {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
